<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include('../../partials/head', {stylesheet: 'style', title: 'Perfil'}) %>

<body>
    
    <!--Header-->
    <%- include('../../partials/header') %>

    <main>
        
        <%- include('../../partials/accountMenu') %>

        <div class="acc-view">
            <div class="visit-pp-data">
                <img src="/img/profile/<%= user.profile_picture %>" class="profile-picture">
                <div class="visit-data">
                    <h1><%= user.username + ' #' + user.id %></h1>
                    <p><%= user.type.name %></p>
                </div>
            </div>

            <div class="acc-box" id="wallet-box">
                <i class="fab fa-brands fa-ethereum"></i>
                <h1>
                    Wallet
                </h1>
                <p id="acc-wallet-balance"><%= locals.user.wallet_balance %>  ETH</p>
                <div id="deposit-withdraw">
                    <form action="/users/profile/account/eth-airdrop" method="post">
                        <button type="submit" id="airdrop-button">Depositar</button>
                    </form>
                    <form action="/users/profile/account/eth-airdrop" method="post">
                        <button type="submit" id="airdrop-button">Retirar</button>
                    </form>
                </div>
                <% if(locals.user.claimed_airdrop != 1) { %>
                    <form action="/users/profile/account/eth-airdrop?_method=PUT" method="post">
                        <button type="submit" id="airdrop-button">Reclamar 1 ETH</button>
                    </form>
                <% } %>
            </div>
        </div>

    </main>

</body>