<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include('../partials/head', {stylesheet: 'style', title: 'Detalle'}) %>

<body>
    
    <!--Header-->
    <%- include('../partials/header') %>

    <main class="main-detalle">
        <div class="flex-detalle">
            <h2 class="producto-title"><%= item.name %></h2>
            <div class="descripciones"> 
                
                <p class="texto-art">
                    La Nave #1234 es un modelo pesado de transporte, su armamento ligero capaz de eliminar unidades de infanteria para limpiar el terreno para desplegar o regocer unidades de infanteria, a su vez cuenta con un armamente ligero contra otras naves.
                </p>
            </div> 
            <div class="art-img">
                <% if(item.typeFK == 1) {%>
                    <img src="/img/naves/<%= item.image %>" class="art-detail">
                <% } else if (item.typeFK == 2) { %>
                    <img src="/img/armaduras/<%= item.image %>" class="art-detail">
                <% } else { %>
                    <img src="/img/mascotas/<%= item.image %>" class="art-detail">
                <% } %>
            </div>

            <div class= "buttons-detalle"> 
                <button type="button"> Añadir al carro </button>
                <button type="button"> Comprar </button>
            <form action="/marketplace/delete/<%= item.id %>?_method=DELETE" method="POST">
                <button type="submit"> Borrar </button>
            </form>
            </div>
            <div class="cuadro-estadisticas">
                <table class="bordes-box">
                    <tr class="Fila1">
                        <th class="filehistory-selected" style="white-space: nowrap;">Armadura <i class="fas fa-shield-alt"></i></th>
                        <th class="filehistory-selected" style="white-space: nowrap;">Velocidad <i class="fas fa-tachometer-alt"></i></th>
                        <th class="filehistory-selected" style="white-space: nowrap;">Armas <i class="fas fa-khanda"></i></th>
                        <th class="filehistory-selected" style="white-space: nowrap;">Raza <i class="fab fa-gitkraken"></i></th>
                    </tr>
                        <br>
                    <tr class="Fila1">
                        <td class="filehistory-selected" style="white-space: nowrap;">48</td>
                        <td class="filehistory-selected" style="white-space: nowrap;">235km</td>
                        <td class="filehistory-selected" style="white-space: nowrap;">Armas corto alcance (objetivos no blindados)</td>
                        <td class="filehistory-selected" style="white-space: nowrap;">Terran</td>
                    </tr>
                </table>  
            </div>
                
        </div> 


        
    </main>

</header>
</body>
</html>