<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include('../partials/head', {stylesheet: ['style'], title: 'Detalle'}) %>

<body>
    
    <!--Header-->
    <%- include('../partials/header') %>

    <main class="main-detalle">
        <% if(locals.errors == 'ownership') { %>
            <div class="error-popup">
                <p>Ya eres el dueño de este item</p>
            </div>
        <% } else if(locals.errors == 'balance') { %>
            <div class="error-popup">
                <p>No tienes suficiente balance para comprar este item</p>
            </div>
        <% } 
        if(locals.justBought == true) { %>
            <div class="success-popup">
                <p>Has comprado este item</p>
            </div>
        <% } %>
        <div class="flex-detalle">
            <div class="titulo-edit">
                <% if(item.ownerFK == user.id) { %>
                    <h2 class="producto-title"><%= item.name %>       <i class="fa-solid fa-pen" id="title-pen"></i></h2>
                    <div class="modal-sell buttons-detalle" id="edit-title">
                        <h1>Editar Nombre</h1>
                        <form action="/marketplace/edit-title/<%= item.id %>?_method=PUT" method="POST">
                            <div class="sell-price-input">
                                <input type="text" name="name">
                            </div>
                            <button type="submit">Confirmar</button>
                        </form>
                    </div>
                <% } else { %>
                    <h2 class="producto-title"><%= item.name %></h2>
                <% } %>
            </div>
            <div class="art-img" target="<%= item.id %>">
                <% if(item.typeFK == 1) {%>
                    <div class="item-id-detalle"><i class="fa-solid fa-jet-fighter-up"></i> #<%= item.id %></div>
                    <img src="/img/items/spaceships/<%= item.picture %>" class="art-detail">
                <% } else if (item.typeFK == 2) { %>
                    <div class="item-id-detalle"><i class="fa-solid fa-shield"></i> #<%= item.id %></div>
                    <img src="/img/items/weapons/<%= item.picture %>" class="art-detail">
                <% } else if(item.typeFK == 3) { %>
                    <div class="item-id-detalle"><i class="fa-solid fa-shield"></i> #<%= item.id %></div>
                    <img src="/img/items/armor/<%= item.picture %>" class="art-detail">
                <% } else if(item.typeFK == 4) { %>
                    <div class="item-id-detalle"><i class="fa-solid fa-paw"></i> #<%= item.id %></div>
                    <img src="/img/items/pets/<%= item.picture %>" class="art-detail">
                <% } else if(item.typeFK == 5) { %>
                    <div class="item-id-detalle"><i class="fa-solid fa-jet-fighter-up"></i> #<%= item.id %></div>
                    <img src="/img/items/passes/<%= item.picture %>" class="art-detail">
                <% } %>
            </div>
            <div class= "buttons-detalle"> 
                <div class="datos-detalle">
                    <% if(item.price != null) { %>
                        <div class="precio-edit">
                            <h1><span class="eth-symbol">Ξ</span> <%= parseFloat(parseFloat(item.price).toFixed(3)) %></h1>
                                <% if(item.ownerFK == user.id) { %>
                                    <i class="fa-solid fa-pen" id="price-pen"></i>
                                    <div class="modal-sell" id="edit-price">
                                        <h1>Editar Precio</h1>
                                        <form action="/marketplace/edit-price/<%= item.id %>?_method=PUT" method="POST">
                                            <div class="sell-price-input">
                                                <input type="number" min="0.001" step="0.001" inputmode="numeric" name="price">
                                                <p>ETH</p>
                                            </div>
                                            <button type="submit">Confirmar</button>
                                        </form>
                                    </div>
                                <% } %>
                        </div>
                        <p class="precio-usd-mkt">$<%= parseInt(ethPrice * item.price) %></p>
                    <% } %>
                    <p>Dueño: <a href="/users/profile/<%= item.ownerFK %>"><%= item.owner.username + ' #' + item.ownerFK %></a></p>
                </div>
                <% if(item.ownerFK != user.id && item.price != null && !locals.justBought) { %>
                    <button type="button" id="btn-carrito"> Añadir al carrito </button>
                    <form action="/marketplace/buy/<%= item.id %>?_method=PUT" method="POST">
                        <button type="submit"> Comprar </button>
                    </form>
                <% } else if(item.ownerFK == user.id && item.price == null) { %>
                    <button type="submit" id="sell"> Vender </button>
                    <div class="modal-sell" id="sell-item">
                        <h1>Vender Item</h1>
                        <p class="modal-sell-msg">Este item se publicará en el marketplace al precio que elijas.<br>Puedes retirarlo de la venta sólo si aún no fue comprado.<br>Recibirás el 100% del precio que pague el comprador.</p>
                        <form action="/marketplace/sell/<%= item.id %>?_method=PUT" method="POST">
                            <div class="sell-price-input">
                                <p>Vender a</p>
                                <input type="number" min="0.001" step="0.001" inputmode="numeric" name="price">
                                <p>ETH</p>
                            </div>
                            <button type="submit">Confirmar</button>
                        </form>
                    </div>
                <% } else if(item.ownerFK == user.id && item.price != null) { %>
                    <form action="/marketplace/cancel-sale/<%= item.id %>?_method=PUT" method="POST">
                        <button type="submit"> Cancelar Venta </button>
                    </form>
                <% }  if(item.ownerFK == user.id) { %>
                    <form action="/marketplace/delete/<%= item.id %>?_method=DELETE" method="POST">
                        <button type="submit"> Descartar (<span class="eth-symbol">Ξ</span> 0.5) </button>
                    </form>
                <% } %>
            </div>
                
        </div> 


        
    </main>

</header>

    <!--Footer-->
    <%- include('../partials/footer') %>
    <script src="/js/detail.js"></script>
</body>
</html>