<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include('../partials/head', {stylesheet: 'style', title: 'Marketplace'}) %>

<body>
    
    <!--Header-->
    <%- include('../partials/header') %>

    <main>

        <a href="/marketplace/nuevo-item" class="nuevo-item">NUEVO ITEM</a>

        <!--Naves-->
        <section class="market-section naves">
            <a href="#" class="market-title"><h1 class="market-title">Naves</h1></a>
            <a href="/proximamente" class="ver-todo">VER TODO</a>
                
            <div class="container-mkt">
                <% for(let i of items) { if(i.typeFK == 1 && i.price != null == 1) { %>
                <a href="/marketplace/detail/<%= i.id %>" class="item-mkt">
                    <div class="item-id">#<%= i.id %></div>
                    <p class="item-info"><i class="fa-solid fa-jet-fighter-up"></i> <%= i.name %></p>
                    <img src="/img/items/spaceships/<%= i.picture %>">
                    <div class="item-info-mkt">
                        <h2 class="precio-mkt">Ξ <%= i.price %></h2>
                    </div>
                </a>
                <% } } %>
            </div>

            <!--Armaduras-->
        <section class="market-section armaduras">
            <a href="#" class="market-title"><h1 class="market-title">Armaduras</h1></a>
            <a href="/proximamente" class="ver-todo">VER TODO</a>
                
            <div class="container-mkt">
                <% for(let i of items) { if(i.typeFK == 3 && i.price != null) { %>
                <a href="/marketplace/detail/<%= i.id %>" class="item-mkt">
                    <div class="item-id">#<%= i.id %></div>
                    <p class="item-info"><i class="fa-solid fa-shield"></i> <%= i.name %></p>
                    <img src="/img/items/armor/<%= i.picture %>">
                    <div class="item-info-mkt">
                        <h2 class="precio-mkt">Ξ <%= i.price %></h2>
                    </div>
                </a>
                <% } } %>
            </div>

            <!--Mascotas-->
            <a href="#" class="market-title"><h1 class="market-title">Mascotas</h1></a>
            <a href="/proximamente" class="ver-todo">VER TODO</a>
            <div class="container-mkt">
                <% for(let i of items) { if(i.typeFK == 4 && i.price != null) { %>
                    <a href="/marketplace/detail/<%= i.id %>" class="item-mkt">
                        <div class="item-id">#<%= i.id %></div>
                        <p class="item-info"><i class="fa-solid fa-bone"></i> <%= i.name %></p>
                        <img src="/img/items/pets/<%= i.picture %>">
                            <div class="item-info-mkt">
                            <h2 class="precio-mkt">Ξ <%= i.price %></h2>
                        </div>
                    </a>
                    <% } } %>
            </div>
        </section>
    </main>

    <!--Footer-->
    <%- include('../partials/footer') %>

</body>
</html>