<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include('partials/head', {stylesheet: ['style', 'planetas'], title: 'Planetas'}) %>


<body  id="principal">
    <!--Header-->
    <%- include('partials/header') %>
    <main></main>
        <div class="bg-img"></div>
        <% for(let planet of planets) { %>
            <h1><%= planet.name %></h1>
            <div class="p2-seccion">
                <div class="p2-img-container">
                    <img src="/img/planetas/<%= planet.picture %>" class="p2-img">
                </div>
                <div class="txt-p2">
                    <div class="planet-stats">
                        <p>Sistema Solar: <%= planet.solar_system.name %></p>
                        <p>Tamaño: <%= planet.size %></p>
                        <p>Población: <%= planet.population %></p>
                        <p>Habitabilidad: <%= planet.living_conditions %>%</p>
                        <p>ESI: <%= planet.esi %>%</p>
                    </div>
                    <p><%= planet.description %></p>
                </div>
            </div>
        <% } %>
        <div class="bg-text">
            <h1 class="h1-planetas">PLANETAS</h1>
            <p class="p-planetas">VISITA O COLONIZA</p>
        </div>
</body>
<footer>
    <script src="https://kit.fontawesome.com/2a1a03283b.js" crossorigin="anonymous"></script>
    <!--Footer-->
    <%- include('./partials/footer') %>
</footer>
</html>