<!DOCTYPE html>
<html lang="en">

<!--Head-->
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - Starknights</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
    
    <!--Header-->
    <%- include('../partials/header') %>

    <% if(locals.errors==undefined) { %>
    <form class="formulario-login" action= "/users/login" method="POST">
        <h4 class="ya-tienes-cuenta">¿No tienes cuenta? - <a href="/users/register">Registrarse</a></h4>
        <div class="input-container">
            <input class= "casillas-login" id="login-username" type="text" name="username" placeholder="Usuario"/>
            <p class="form-error" id="username-error"></p>
        </div>
        <div class="input-container">
            <input class= "casillas-login" id="login-password" type="password" name="password" placeholder="Contraseña" />
            <p class="form-error" id="password-error"></p>
        </div>
        <button class= "boton-login" type="submit"> Ingresar </button>        
        
    </form>
    <% } else { %>

    <form class="formulario-login" action= "/users/login" method="POST">
        <h4 class="ya-tienes-cuenta">¿No tienes cuenta? - <a href="/users/register">Registrarse</a></h4>

        <div class="input-container">
            <% if(locals.errors.username) { %>
                <input class= "casillas-login error" id="login-username" type="text" name="username" placeholder="Usuario" value="<%= old.username %>"/>
                <p class="form-error" id="username-error"></p>
                <p class="form-error active" id="username-match-error"><%= errors.username.msg %></p>
            <% } else { %>
                <input class= "casillas-login" id="login-password" type="text" name="username" placeholder="Usuario" value="<%= old.username %>"/>
                <p class="form-error" id="username-error"></p>
            <% } %>
        </div>
        <div class="input-container">
            <% if(locals.errors.password) { %>
                <input class= "casillas-login error" id="login-password" type="password" name="password" placeholder="Contraseña" value="<%= old.password %>"/>
                <p class="form-error" id="password-error"></p>
                <p class="form-error active" id="password-match-error"><%= errors.password.msg %></p>

            <% } else { %>
                <input class= "casillas-login error" id="login-password" type="password" name="password" placeholder="Contraseña" value="<%= old.password %>"/>
                <p class="form-error" id="password-error"></p>
            <% } %>
        </div>
        <button class= "boton-login" type="submit"> Ingresar </button>        
    </form>
    <% } %>
      
    <script src="/js/login.js"></script>
</body>
</html>